* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: aliceblue;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

/* MENU en pag de GRID*/
header {
  background-color: rgb(31, 31, 31);
  height: 5.188rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;

}

nav {
  flex-grow: 1;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.menu li a {
  justify-content: center;
  color: rgb(255, 244, 231);
  text-decoration: none;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;

}

.menu li a:hover {
  color: #e68a09;
}

.brand-name {
  font-family: 'Belanosima', sans-serif;
  font-size: 20px;
  padding: 10px;
  color: rgb(255, 244, 231);
  display: inline-block;
  justify-content: left;
  justify-content: center;
}

/*FIN MENU de Grid*/



/*no se usa
.Banner {
  grid-area: Banner;
  background-color: aqua;
  background-color: aliceblue;
  position: relative;
  display: inline-block;
  text-align: left;
}

.img-banner {
  filter: brightness(50%);
}

.titulo-banner {
  position: absolute;
  top: 155px;
  left: 50px;
  font-family: 'Ubuntu', sans-serif, ;
  color: rgb(255, 160, 122);
  font-size: 80px;
}

.parrafo-banner {
  position: absolute;
  top: 300px;
  left: 50px;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif, ;
  color: rgb(255, 255, 255);
  font-weight: normal;

}


.button-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 500px;
  left: 80%;
  align-items: center;
  text-align: center;
  width: 240px;
  height: 50px;
  text-decoration: none;
  border-radius: 20px;
  background-color: #e65a09;
  color: beige;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif, ;

}

.button-banner:hover {
  background-color: #fff8b5;
  color: rgb(39, 39, 39);
} */

/*FIN DE INICIO*/


/*QUIENES SOMOS*/

.titulo-quienes {
  font-size: 30px;
  color: rgb(49, 48, 48);
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;
  font-family: 'Belanosima', sans-serif;
}

.quienes {
  font-family: 'Ubuntu', sans-serif, ;
  width: 500px;
  color: black;
  margin: 0;
  font-size: 15px;
  text-align: left;
}


/*FIN*/

/*VALORES*/

.card-img-top {
  width: 150px;
  align-items: center;
  margin: 0px 10px 10px 20px;
}

.card-text {
  font-size: 15px;
  color: rgb(24, 23, 23);
  font-family: 'Ubuntu', sans-serif;

}

.title-valores {
  font-size: 30px;
  color: rgb(49, 48, 48);
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Belanosima', sans-serif;
  text-align: center;
}

.card-group {
  justify-content: space-between;
  margin-bottom: 20px;
}


/*FIN*/


/*EQUIPO*/
.img-user {
  display: flex;
  display: inline-block justify-content: space-between;
}

.titleEquipo {
  font-size: 30px;
  font-family: 'Belanosima', sans-serif;
  text-align: left;
}

.descripcion {
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif, ;
  max-width: 50rem;
  text-align: left;

}

/*.button {
  background-color: #e65a09;
  color: white;
  font-size: 30px;
  align-items: center;
  border-radius: 20px;
  height: 70px;
  width: 260px;
  text-align: center;
  text-decoration: none;

  position: absolute;
  left: 900px;
  top: 400px;
}

.button:hover {
  background-color: rgb(34, 33, 33);
  color: bisque;
}*/

.user {
  filter: brightness(50%);
  margin: 10px;
}

.user:hover {
  filter: brightness(100%);
}

.ver-service {
  margin-top: 50px;
}

/*FIN DE INICIO*/

/*SERVICIOS*/
.titulo-header {
  font-size: 30px;
  font-family: 'Belanosima', sans-serif;
  color: rgb(255, 244, 231);
  justify-content: center;

}

/*.colorMenu{
  background-color: #252524;
}*/
.cards-servicios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

main {
  padding: 50px;
}

.title-service {
  font-size: 30px;
  color: rgb(33, 33, 33);
  font-family: 'Belanosima', sans-serif;

}

.title-card {
  font-size: 20px;
  color: rgb(58, 58, 58);
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
}

.card-img-serv {
  width: 130px;

}

.cards-servicios>div {
  padding-bottom: 4rem !important;
}


.card {

  background-color: aliceblue;
  border: solid orange;
}

.btn-primary {
  font-size: 25px;
  background-color: #e65a09;
  color: white;
  width: 20rem;
  text-decoration: none;
  border: #e65a09;
  font-family: 'Ubuntu', sans-serif, ;
  text-align: center;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: white;
}


.btn:hover {
  background-color: rgb(45, 45, 45);
  color: bisque;
}

.title-estadisticas {
  font-size: 30px;
  color: rgb(33, 33, 33);
  font-family: 'Belanosima', sans-serif;
  margin-top: 100px;

}

.card-text-bg-warning-mb-3 {
  background: linear-gradient( rgb(255, 204, 0), rgb(155, 79, 7));  
  
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  margin: 20px;
  margin-top: 50px;
  padding: 10px;
}

.estadisticas {
  justify-content: center;

}



/*.row{
  justify-content: center;

}*/




/*FIN SERVICIOS*/

/*PORTFOLIO*/



.title-portfolio {
  font-size: 50px;
  color: rgb(33, 33, 33);
  font-family: 'Belanosima', sans-serif;
  margin-top: 50px;
}



/*FIN DE PORTFOLIO*/

/*CONTACTO2*/


.encabezado-contacto,
{
padding: 2rem;
}

.encabezado-contacto p,
.section-formulario p {
  max-width: 700px;
}

.title-contacto {
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif, ;
  color: #252524;
  margin-bottom: 30px;

}

.campo label {
  display: block;
  padding-bottom: 5px;
}

.campo input {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #2a546a;
  width: 100%;
  max-width: 25rem;
  height: 2.5rem;
  background-color: rgb(226, 234, 252);
}

.campo textarea {
  width: 100%;
  max-width: 31rem;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #2a546a;
  background-color: rgb(226, 234, 252);
  font-family: 'Ubuntu', sans-serif, ;
  margin-top: 40px;
}

.form-buttons {
  margin-top: 1em;

}

.button-form {
  padding: 5px;
  width: 150px;
  height: 50px;
  font-size: 15px;
  background-color: rgb(51, 96, 192);
  border: none;
  border-radius: 10px;
  color: beige;
  font-family: 'Ubuntu', sans-serif, ;
}

.button-form:hover {
  background-color: rgb(175, 200, 255);
  color: #363737;
  font-size: 20px;
}

.form-grid {
  width: 100%;
  max-width: 900px;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1em;
  font-family: 'Ubuntu', sans-serif, ;
}

.formulario {
  margin-top: 5em;
}

.whatsapp {
  position: fixed;
  left: 90%;
  bottom: 100px;

}

/*FIN CONTACTO*/


/*PRESUPUESTO*/

.container {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-auto-columns: 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas:
    "encabezado encabezado encabezado"
    "datos linea form-presupuesto";
}

.encabezado {
  grid-area: encabezado;
  font-family: 'Ubuntu', sans-serif, ;
  color: #252524;
  margin-bottom: 50px;
}

.title-presupuesto {
  margin: 30px 0px 30px 0px;
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif, ;
}

.datos {
  grid-area: datos;
}

.title-datos {
  margin: 30px 0px 30px 0px;
  font-size: 30px;
  color: rgb(53, 53, 53);
  font-family: 'Belanosima', sans-serif;
}


.presupuesto .campo {
  width: 100%;
  max-width: 300px;
  height: 50px;
  font-size: 15px;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif, ;
  color: #252524;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 1px solid #ed6e38;
  border-radius: 5px;
}



.linea {
  grid-area: linea;
}

hr {
  height: 70vh;
  width: .1vw;
  position: relative;
  left: 50%;
  border-width: 0;
  color: #000;
  background-color: #000;
}

.form-presupuesto {
  grid-area: form-presupuesto;
}

.title-solicitar {
  margin: 30px 0px 30px 30px;
  font-size: 30px;
  color: rgb(53, 53, 53);
  font-family: 'Belanosima', sans-serif;
}

.title-categorias {
  margin: 30px 0px 10px 30px;
  color: rgb(53, 53, 53);
  font-size: 15px;
  font-weight: 100;
}

.categorias {
  width: 100%;
  max-width: 300px;
  height: 50px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif, ;
  color: #252524;
  margin: 0px 0px 30px 30px;
  border: 1px solid #ed6e38;
  border-radius: 5px;

}

.checkbox-group {
  border: 1px solid #ed6e38;
  background-color: #ed6e38;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  margin: 0px 0px 5px 30px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif, ;
  color: #ffffff;
}

.enviar {
  margin: 30px;
  padding: 5px;
  width: 150px;
  height: 50px;
  font-size: 15px;
  background-color: rgb(29, 30, 30);
  border: none;
  border-radius: 10px;
  color: beige;
  font-family: 'Ubuntu', sans-serif,
}

.enviar:hover {
  background-color: rgb(240, 241, 244);
  border: 1px solid rgb(19, 19, 19);
  color: rgb(19, 19, 19);
  font-size: 20px;
}

.borrar {
  margin: 30px;
  padding: 5px;
  width: 150px;
  height: 50px;
  font-size: 15px;
  background-color: rgb(29, 30, 30);
  border: none;
  border-radius: 10px;
  color: beige;
  font-family: 'Ubuntu', sans-serif,
}

/*FIN PRESUPUESTO*/



/*FOOTER*/
footer {
  font-family: 'Belanosima', sans-serif;
  background-color: rgb(33, 33, 33);
  padding: 1em 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  color: azure;
}

/*BOOTSTRAP*/

.nav-link {
  color: rgb(255, 244, 231);
  font-size: 20px;
  margin-right: 50px;
}

.nav-link:hover {
  color: #e68a09;
}

.d-block {
  filter: brightness(50%);
}

.titleCarousel {
  font-size: 60px;
}


@media (max-width:480px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  hr {
    height: 0vh;
    width: .vw;
    position: relative;
    left: 50%;
    border-width: 0;
    color: #000;
    background-color: #000;
  }

}

/* Estilos para pantallas con ancho menor o igual a 480px */
@media (max-width: 480px) {
  .form-grid {
    grid-template-columns: 1fr;
    /* Cambiar a una sola columna */
  }

  .campo input,
  .campo textarea {
    max-width: 100%;
    /* Ocupar todo el ancho disponible */
  }

  .whatsapp img {
    width: 60px;
    /* Cambiar el tamaño del icono */
  }

}