.btn-primary {
    font-size: 25px;
    background-color: $btncolor;
    color: $titulo_nav;
    max-width: 20rem;
    text-decoration: none;
    border: $btncolor;
    font-family: $ubuntu;
    text-align: center;
    
    a {
        text-decoration: none;
        color: white;
    }
    &:hover {
        background-color: rgb(45, 45, 45);
        color: bisque;
    }
}