/*CONTACTO*/

.page_contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-auto-columns: 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
        "encabezado-contacto encabezado-contacto"
        "contacto mapa";

        .encabezado-contacto {
            grid-area: encabezado-contacto;
            font-family: $ubuntu;
            color: $textcolor;
            font-size: $textsmall;
            max-width: 900px;
            .title-contacto {
                font-size: $textmedium;
                margin-bottom: 30px;
            }
        }
        
        .contacto {
            grid-area: contacto;
            display: flex;
            flex-direction: column;
            .formulario {
                .form-grid {
                    width: 100%;
                    max-width: 1600px;
                    margin-bottom: 1em;
                    font-family: $ubuntu;
                    .title-contacto {
                        font-size: $textlarge;
                        font-family: $ubuntu;
                        color: $textcolor;
                        margin-bottom: 30px;
                    }
                    .campo label {
                        display: block;
                        padding-bottom: 5px;
                    }
                    .campo input {
                        padding: 5px;
                        border-radius: 6px;
                        border: 1px solid #2a546a;
                        width: 100%;
                        margin-bottom: 20px;
                        max-width: 25rem;
                        height: 2.5rem;
                        background-color: rgb(226, 234, 252);
                    }
                    .estilotextarea {
                        width: 600px;
                        height: 200px;
                        color: gray;
                        border-radius: 6px;
                        border: 1px solid #2a546a;
                        background-color: rgb(226, 234, 252);
                        padding: 10px;
                        font-family: $ubuntu;
                        margin-top: 20px;
                    }
                    .form-buttons {
                        margin-top: 1em;
                        .button-form {
                            padding: 5px;
                            width: 150px;
                            height: 50px;
                            font-size: $textsmall;
                            background-color: rgb(51, 96, 192);
                            border: none;
                            border-radius: 10px;
                            color: beige;
                            font-family: $ubuntu;
                            &:hover {
                                background-color: rgb(175, 200, 255);
                                color: $textcolor;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        
        .mapa {
            grid-area: mapa;
            max-width: 600px; 
            height: 400px; 
            iframe{
                width: 100%;
                height: 100%;
                border-radius: 10px;
                padding: 20px;
            }
        }
}



    
    
