/*PORTFOLIO*/

.galeriaPortfolio {
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    margin: 0 auto;
    .title-portfolio {
        font-size: $textlarge;
        color: $textcolor;
        font-family: $belanosima;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    .cardportfolio{
        border: solid 2px orange;
        border-radius: 10px;
        font-family: $ubuntu;
        margin: 20px 0px 20px 0px;
        
        .card-body{
            padding: 1rem;
            max-width: 600px;
            .card-title{
                margin-bottom: 1.5rem;
                font-size: 2rem;
            }
        }
    }
    .cinema{
        align-self: flex-end;
        .img-fluid{
            height: 450px;
            object-fit: cover;
        }
    }
    .makeup{
        align-self: flex-end;
        .img-fluid{
            height: 510px;
            object-fit: cover;
        }
        
    }

    .cosmetic{
        align-self: flex-end;
    }
}
