$titulo_nav: aliceblue;
$textcolor: #262626;
$btncolor: #e65a09;
$hover_nav: #e68a09;
$ubuntu: "Ubuntu", sans-serif;
$belanosima: "Belanosima", sans-serif;
$textsmall: 16px;
$textsmall2: 20px;
$textmedium: 32px;
$textlarge: 40px;