@import "variantes";
@import "body";
@import "header";
@import "carousel";
@import "main";
@import "studioko";
@import "button";
@import "servicios";
@import "portfolio";
@import "presupuesto";
@import "contacto";
@import "footer";


@media screen and (max-width:480px){
    .container {
        display: flex;
        flex-direction: column;
        .quienes-somos {
            .titulo-quienes {
                font-size: $textlarge;
                font-family: $belanosima;
                color: $textcolor;
                margin-bottom: 40px;
                text-align: left;
            }
            .quienes {
                font-family: $ubuntu;
                color: $textcolor;
                font-size: $textsmall2;
                text-align: left;
                max-width: 300px;
                margin-bottom: 2rem;
            }
        }
        .card-valores {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title-valores {
                margin-top: 2rem;
                font-size: $textlarge;
                color: $textcolor;
                margin-bottom: 40px;
                font-family: $belanosima;
                text-align: center;
            }
            .card-group {
                margin-bottom: 20px;
                justify-content: space-between;
                
        
                .card-valores-tam {
                    width: 15rem;
                    
                }
        
                .card-text {
                    font-size: $textsmall;
                    color: $textcolor;
                    text-align: center;
                    font-family: $ubuntu;
                }
                .card-img-top {
                    width: 150px;
                    align-items: center;
                    margin: 0px 10px 10px 50px;
                }
                .text-center {
                    .button {
                        font-size: 25px;
                        background-color: $btncolor;
                        color: $titulo_nav;
                        width: 20rem;
                        text-decoration: none;
                        border: $btncolor;
                        text-align: left;
                        font-family: $ubuntu;
                        text-decoration: none;
                        margin: 50px;
                    }
                    
                }
            }
        }
        .equipo {
            max-width: 300px;
            margin: 0 auto;
            .img-user {
                display: flex;
                display: inline-block;
                position: relative;
                text-align: center;
                .datosuser {
                    position: absolute;
                    top: 90%;
                    left: 50%;
                    transform: translate(-50%, -80%);
                    color: aliceblue;
                }
            }
            .titleEquipo {
                font-size: $textlarge;
                font-family: $belanosima;
                text-align: left;
                margin-bottom: 30px;
            }
            .descripcion {
                font-size: $textsmall2;
                font-family: $ubuntu;
                max-width: 50rem;
                text-align: left;
            }
            .user {
                filter: brightness(50%);
                margin: 10px;
                &:hover {
                    filter: brightness(100%);
                    transform: scale(1.1, 1.1);
                    transition: 0.6s;
                    
                }
            }
        }
    }
    .presupuesto{
        display: flex;
        flex-direction: column;

        .encabezado {
            font-family: $ubuntu;
            color: $textcolor;
            .descripcion {
                max-width: 300px;
                font-family: $ubuntu;
                color: $textcolor;
            }
            .title-presupuesto {
                font-family: $belanosima;
                color: $textcolor;
                margin-top: 20px;
            }
        }
        
        .datos_personales {
            .title-datos {
                margin: 30px 0px 30px 0px;
                font-size: 30px;
                color: $textcolor;
                font-family: "Belanosima", sans-serif;
            }
            .campo {
                width: 100%;
                max-width: 300px;
                height: 50px;
                font-size: $textsmall;
                padding: 10px;
                font-family: $ubuntu;
                color: $textcolor;
                border: 1px solid #ed6e38;
                border-radius: 5px;
            }
            .enviar {
                padding: 5px;
                width: 100px;
                height: 40px;
                font-size: $textsmall;
                background-color: $textcolor;
                border: none;
                border-radius: 10px;
                color: $titulo_nav;
                font-family: $ubuntu;
                &:hover {
                    background-color: rgb(240, 241, 244);
                    border: 1px solid rgb(19, 19, 19);
                    color: rgb(19, 19, 19);
                    font-size: $textsmall2;
                }
            }
        
            .borrar {
                padding: 5px;
                margin-left: 30px;
                width: 100px;
                height: 40px;
                font-size: $textsmall;
                background-color: $textcolor;
                border: none;
                border-radius: 10px;
                color: $titulo_nav;
                font-family: $ubuntu;
                &:hover {
                    background-color: rgb(240, 241, 244);
                    border: 1px solid rgb(19, 19, 19);
                    color: rgb(19, 19, 19);
                }
            }
        }

        .solicitar_presupuesto {
            
            .title-solicitar {
                margin: 30px 0px 20px 0px;
                font-size: 30px;
                color: $textcolor;
                font-family: $belanosima;
            }
            .title-categorias {
                margin: 0px 0px 30px 0px;
                color: $textcolor;
                font-size: $textsmall;
                font-weight: 70;
            }
            .categorias {
                width: 100%;
                max-width: 250px;
                height: 50px;
                font-size: $textsmall2;
                font-family: $ubuntu;
                color: $textcolor;
                margin: 0px 0px 30px 30px;
                border: 1px solid #ed6e38;
                border-radius: 5px;
            }
        }
        .checkbox-group {
            border: 1px solid #ed6e38;
            background-color: #ed6e38;
            border-radius: 5px;
            padding: 10px;
            width: 100%;
            max-width: 200px;
            margin: 0px 0px 5px 30px;
            font-size: $textsmall2;
            font-family: $ubuntu;
            color: #ffffff;
        }
        
        }

        .page_contacto {
            display: flex;
            flex-direction: column;

            .mapa {
                max-width: 18rem; 
                height: 15rem; 
                iframe{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    padding: 20px;
                }
            }
            .encabezado-contacto {
                font-family: $ubuntu;
                color: $textcolor;
                font-size: $textsmall;
                max-width: 350px;
                .title-contacto {
                    font-size: $textmedium;
                    margin-bottom: 30px;
                }
            }
            
            .contacto {
                display: flex;
                flex-direction: column;
                .formulario {
                    .form-grid {
                        width: 100%;
                        margin-bottom: 1em;
                        font-family: $ubuntu;
                        .title-contacto {
                            font-size: $textlarge;
                            font-family: $ubuntu;
                            color: $textcolor;
                            margin-bottom: 1rem;
                        }
                        .campo label {
                            display: block;
                            padding-bottom: 5px;
                        }
                        .campo input {
                            padding: 5px;
                            border-radius: 6px;
                            border: 1px solid #2a546a;
                            width: 100%;
                            margin-bottom: 20px;
                            max-width: 18rem;
                            height: 2.5rem;
                            background-color: rgb(226, 234, 252);
                        }
                        .estilotextarea {
                            width:18rem;
                            height: 11rem;
                            color: gray;
                            border-radius: 6px;
                            border: 1px solid #2a546a;
                            background-color: rgb(226, 234, 252);
                            padding: 10px;
                            font-family: $ubuntu;
                            margin-top: 20px;
                        }
                        .form-buttons {
                            margin-top: 1em;
                            .button-form {
                                padding: 5px;
                                width: 150px;
                                height: 50px;
                                font-size: $textsmall;
                                background-color: rgb(51, 96, 192);
                                border: none;
                                border-radius: 10px;
                                color: beige;
                                font-family: $ubuntu;
                                &:hover {
                                    background-color: rgb(175, 200, 255);
                                    color: $textcolor;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .mapa {
            grid-area: mapa;
            max-width: 300px; 
            height: 400px; 
            iframe{
                width: 100%;
                height: 100%;
                border-radius: 10px;
                padding: 20px;
            }
        }
        
        
    }